!!!xml
rss(version='2.0')
  channel  
    title #{ site_title }
    twitter #{ twitter }
    link #{ site_url }/
    each post, slug in public.posts.data
      item
        title #{ post.title }
        link #{ site_url }/posts/#{ slug }
        content <![CDATA[!{ partial("posts/" + slug) }]]>