!!!
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{site_title}
    link(rel="stylesheet", href="/assets/css/app.css")
     
  body(class="page-#{ current.path[0] } #{ current.path.join('-') }")
    header
      .header-wrap
        each post, slug in public.posts.data
          .header-box(style="background: url(#{site_url}/assets/img/#{post.img}) no-repeat;")
            a(href="#{ site_url }/posts/#{ slug }") #{ post.title }
            time #{ post.date }

//	 add a variable to your harp.json with the limit number. i.e.: limit: 5
  [22:28:21] <jorgepedret>	 then in your _layout.jade, right below where you do the each add something like this if (limit-- > 0)
  [22:28:42] <jorgepedret>	 and then indent all the stuff below under the if
// section
  .container
    #feed.row
    article#content
      .container
        .row
          != yield
              

             
    footer
      .container
        .row
          .col-sm-12
            p.copyright.pull-right &copy; #{site_title} 2013
             a(href="http://twitter.com/#{twitter}") #{twitter}
    
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js")
    script(src="/assets/js/app.js")