!!!
html(lang="en")
  head
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title}
    link(rel="stylesheet", href="#{ site_url }/assets/css/app.css")
     
  body(class="page-#{ current.path[0] } #{ current.path.join('-') }")
    header
    .section
      .container
        .row
          .col-sm-12
            article
              h2    
                a(href="#{ site_url }/posts/#{ current.path[1] }") #{ title }
              time #{ date }
                !=yield

             
    footer
      .container
        .row
          .col-sm-12
            p.copyright.pull-right &copy; #{site_title} 2013
             a(href="http://twitter.com/#{twitter}") #{twitter}
    
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js")
    script(src="#{ site_url }/assets/js/app.js")